body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 5px;
    margin: auto;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav>div:nth-child(1){
    width: 30%;
}
.nav>div:nth-child(2){
    width: 60%;
}
.logo{
    padding-left: 40px;
    width: 30%;
}
.logo img{
    width: 200px;
    height: 100px;
}
a{
    text-decoration: none;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    font-family:'Yanone Kaffeesatz', sans-serif;
}
#myLinks a:hover{
    background-color: rgb(230, 225, 225);
    padding: 10px;
    border-radius: 10px;
}
.sec{
    align-items: center;
    width: 65%;
    
}
#myLinks{
   display: flex;
   justify-content: space-between;
}

.book{
    background-color: rgb(255, 255, 255);
    color:  rgb(0, 0, 0);
    padding: 10px;
    border-radius: 8px;
}
#myLinks .book:hover{
    background-color: rgb(230, 225, 225);
    color: #000000;
}
#login{
    width: 160px;
    height: 60px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
#myLinks #login:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 3px solid #000000;
}
.icon{
    display: none;
}

@media only screen and (max-width: 950px){
    .icon{
        display: block;
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 30px;
    }
    #myLinks{
        display: none;
    }
}
#adminPanel{
    display: none;
}