* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    width: 100vw;
    height: 100vh;
    background-color: #34495e;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    max-width: 800px;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1.5rem;
}

.left {
    flex-basis: 50%;
}

.right {
    flex-basis: 50%;
}

form {
    padding: 1rem;
}

form input[type="text"] {
    width: 100%;
    padding: 0.5rem 0.7rem;
    margin: 0.5rem 0;
    outline: none;

}

#state {
    display: flex;
    margin-top: 0.5rem;
}

#state select {
    padding: 0.5rem 0.7rem;

}

#state input[type="number"] {
    margin-left: 5px;
    padding: 0.5rem 0.7rem;
}